* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #012408;

    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    grid-template-columns: 2fr 1fr;
}

header {
    grid-area: header;
    background-color: #0e5f1d;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

h2 {
    padding-bottom: 3%;
}

h3 {
    padding-bottom: 2%;
}

p {
    padding-bottom: 20px;
}

#menu {
    grid-area: nav;

}

nav ul {
    text-align: center;
    list-style-type: none;
    background-color: #0e5f1d;
    text-align: center;
    padding: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav li a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    height: fit-content;
}

nav li a:hover {
    font-weight: bold;
}

nav li a.active {
    font-weight: bold;
}

main {
    grid-area: main;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

aside {
    grid-area: aside;
    padding: 2rem;
}

aside img {
    padding-top: 5%;
    padding-right: 5%;
    max-width: 400px;
    height: auto;
}

footer {
    grid-area: footer;
    background-color: #44714c;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 900px) {
    body {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
        grid-template-columns: 1fr;
    }

    aside img {
        max-width: 100%;
    }
}

@media (max-width: 400px) {
        body {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
        grid-template-columns: 1fr;
    }

    aside img {
        max-width: 100%;
    }


    nav li a:hover, nav li a:active, nav li a:focus {
        font-weight: normal;
    }

}